<div class="header">
	<ul>
		<% unless patient_signed_in? or doctor_signed_in? %>
			<li class="hoverable">
				<%= link_to "Home", root_path %>
			</li>
		<% end %>

		<% if patient_signed_in? %>
			<li class="hoverable">
				<%= link_to 'My Profile', "/patients/profile/#{current_patient.id}" %>
			</li>
		<% end %>
		<% if doctor_signed_in? %>
			<li class="hoverable">
				<%= link_to 'My Profile', "/doctors/profile/#{current_doctor.id}" %>
			</li>
		<% end %>
		<% if doctor_signed_in? or patient_signed_in? %>
			<li class="hoverable">
				<%= link_to 'My appointments', appointments_path %>
			</li>
		<% end %>
		<% if doctor_signed_in? or patient_signed_in? %>
			<li class="hoverable">
				<%= link_to "Search", doctors_path %>
			</li>
		<% end %>
		<% if patient_signed_in? %>
			<li class="hoverable">
				<%= link_to "Log out", destroy_patient_session_path, method: :delete %>
			</li>
		<% end %>	
		<% if doctor_signed_in? %>
			<li class="hoverable">
				<%= link_to "Log out", destroy_doctor_session_path, method: :delete %>
			</li>
		<% end %>
		<% if admin_signed_in? %>
			<li class="hoverable">
				<%= link_to "Log out", destroy_admin_session_path, method: :delete %>
			</li>
		<% end %>
		
		<li class="logo_header">OffClinic ✚ </li>
	</ul>
</div>