<%= render 'search' %>

<% if @doctors.size < 1 %>
	<div>No results</div>
<% else %>
	<% @doctors.each do |doctor| %>
	<div class="doctor_list_element">
	  <%= doctor.name %> | <%= doctor.category_name.capitalize %> | <%= doctor.email %>
	  <%= link_to 'Show', "/doctors/profile/#{doctor.id}" %>
	</div>
	<% end %>
<% end %>